<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- ... other keys here ... -->

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Find My Hood uses location access to determine the neighborhood based on your current position.</string>

    <!-- ... other keys here ... -->
</dict>
</plist>
